[Desktop Entry]
Version=1.0
Type=Application
Name=newKasina Sensor Service
GenericName=Biofeedback Sensor Service
Comment=Connect to Polar H10, Go Direct, and ThoughtStream USB sensors
Exec=kasina-service --source hardware
TryExec=kasina-service
Icon=org.newkasina.NewKasina.Service
Terminal=false
Categories=Science;
Keywords=biofeedback;Bluetooth;Polar H10;Go Direct;respiration;heart rate;ThoughtStream;USB;skin resistance;
StartupNotify=false
